@import "../../styles/global";

$button-height: 40px;

.Button {
  background-color: $button-primary;
  border-color: $button-primary;
  color: #fff;
  border: 0;
  outline: 0;
  height: $button-height;
  width: 100%;
  cursor: pointer;

  padding: 12px 24px;
  border-radius: $button-height / 2;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: darken($button-primary, 5%);
    border-color: darken($button-primary, 5%);
    color: #fff;
  }
}