$color-grey: #999999;
$color-ice: #fafafa;
$color-white: #ffffff;
$color-black: #000000;

$color-green: #1db954;

$primary: $color-green;

$button-primary: $primary;

$background-color-primary: #1a1a1a;
$text-color-primary: $color-white;

$player-height: 80px;