@import "../../styles/global";

.AlbumTracks {
  width: 100%;

  >li {
    counter-increment: trackIndex;

    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 6px;

    &::before {
      content: counter(trackIndex)".";
      @extend .Text,
      .caption;
      width: 25px;
      text-align: left;
    }
  }
}

.TrackItem {
  transition: all .4s ease;

  .TrackName {
    flex: 1;
    @extend .Text,
    .caption-emphasis;
    font-weight: 300;

    text-align: left;
  }

  .TrackDuration {
    @extend .Text,
    .caption;
  }

  &.TrackItemSelected {
    background-color: $color-black;

    .TrackName {
      color: $color-green;
      font-weight: 900;
    }
  }
}