@import "../../styles/global";

.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &.PlayerOpen {
    height: calc(100vh - #{$player-height});
  }
}

.MainContent {
  flex: 1;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 64px 80px;
  max-width: 1200px;
  width: 100%;
  overflow: auto;

  @media screen and (max-width: 576px) {
    padding: 48px 60px;
  }
}