@import "../../styles/global";

.LoginContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 40px;

  .LoginTitle {
    @extend .Text,
    .title;
    text-align: center;

    color: $color-white;
  }

  .LoginOnboarding {
    @extend .Text,
    .section-title,
    .center;

    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 100;
  }

  .TextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}