@import "../../styles/global.scss";

.SearchCard {
  flex: 0 0 180px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 576px) {
    flex: 0 0 100%;
  }

  >a {
    text-decoration: none;
  }

  .Cover {
    width: 100%;
    height: auto;

    >img {
      width: 100%;

      @media screen and (max-width: 768px) {
        max-width: 20rem;
      }
    }
  }

  .Info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0 24px;
    gap: 12px;

    .Name {
      @extend .Text,
      .caption-emphasis;
    }

    .ArtistName {
      @extend .Text,
      .caption;
    }
  }

}